<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HCSecurityKeyboardExcemple.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5183657282A511C00C00935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D518366D282A512000C00935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5183677282A512000C00935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
